<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".pdf" mimeType="application/pdf" />
			<mimeMap fileExtension=".docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
		</staticContent>
	</system.webServer>
</configuration>
