@page
@model WebApplication1.Pages.Account.ResetPasswordConfirmationModel

<h2>Password Reset Successful</h2>
<p>Your password has been successfully reset.</p>
<a href="/Login" class="btn btn-primary">Go to Login</a>
